*~
*.swp
*.swo
.DS_Store
.vscode
.ethereum
/todo.html
build
/users
/non-examples/dev
*.index
/exp
.reach
.docker-root
/test.sh

# We do NOT include reach-everest so `ag` and `fzf` still search it
# But we DO include the things that get linked
hs/app-closed
hs/package.closed.yaml
hs/src/Reach/Closed
