/.stack-work
/reach.cabal
*~
/test.out/
*.actual
/.hie
/stan.html
/test-reports/
/.dockerignore
/Dockerfile
/docker-compose.yml
/reach
/Makefile
/.package.yaml
/src/Reach/Version.hs
/sol/*gz
/sol/openzeppelin*
/sol/stdlib_openzep.sol
/sol/stdlib.sol
/sol/stdlib.json
