.highlight {
    font-size: 1rem;
}

.highlight a {
    text-decoration: none;
}

.highlight .badlink {
    text-decoration: none;
}

code.highlight {
    margin: 0em;
    white-space: pre-wrap;
}

/* normal text like: f(x) */
.nx {
    color: #000000 !important;
}

/* string literals like: 'asdf' */
.s1 {
    color: #228b22 !important;
}

/* string literals like: "asdf" */
.s2 {
    color: #228b22 !important;
}

/* More strings, like in backticks: `asdf` */
.sb {
    color: #228b22 !important;
}

/* int literals *and* line numbers like: 3 */
.mi {
    color: #228b22 !important;
}

/* int literals like: 0xdeadbeef */
.mh {
    color: #228b22 !important;
}

/* literals like: true, false, null */
.kc {
    color: #228b22 !important;
}

/* parens, like: []() */
.p {
    color: #843c24 !important;
}

/* template brackets within backticks, like: `${a}`*/
.si {
    color: #843c24 !important;
}

/* declaration keywords like: var, export, const */
.kd {
    color: #843c24 !important;
}

/* operators, like: = */
.o {
    color: #0000af !important;
}

/* Name.Builtin. Special known idents like: Reach, UInt */
.nb {
    color: #0000af !important;
}

/* reserved keywords like: enum? */
.kr {
    color: #960096 !important;
}

/* control keywords like: return */
.k {
    color: #960096 !important;
}

/* single-line comment, like: // */
.c1 {
    color: #c2741f !important;
}

/* multi-line comment, like this. */
.cm {
    color: #c2741f !important;
}

/* the following are just notes and don't actually color anything */

.link {
    color: #0077aa;
}

.result {
    color: #0000af;
}

.stdout {
    color: #960096;
}

.fail {
    color: #ff0000;
}
