.highlight {
    font-size: 1rem;
}

.highlight-inline {
    font-size: 1rem;
}

.highlight-inline {
    /* https://github.com/wilbowma/scribble-minted/issues/2

    display: inline-table; */
    margin: 0em;
    white-space: pre-wrap;
}
