$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-monospace:  'Inconsolata', monospace;
$font-family-base: 'Source Serif Pro', serif;
$font-family-code:  'Inconsolata', monospace;
$btn-font-family: 'Source Serif Pro', serif;
$input-font-family: 'Source Serif Pro', serif;

$body-bg: #f6f6f6;
$body-color: #555;

$input-border-radius: 0.2rem;
$input-border-color: #212529;
$input-bg: #dcdcdc;

$list-group-color: #555;
$list-group-bg: #f6f6f6;
$list-group-border-color: #212529;
$list-group-border-radius: 0.2rem;
$list-group-hover-bg: #343a40;
$list-group-action-hover-color: #FFFFFF;

$breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");

@import "../node_modules/bootstrap/scss/bootstrap";

div > * {
  margin: 1%;
  padding: 1%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Serif Pro', serif;
}

body :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-family: 'Source Sans Pro', sans-serif;
}

body, html, .container-fluid, .top-level-row, .top-level-div {
  height: 100%;
}

footer {
  text-align: right;
  padding: 1%;
}

html {
  scroll-behavior: smooth;
}

.col-3 {
  height: 100%;
}

#output {
  display: block;
  max-height: 100%;
  height: 100%;
  background-color: #f6f6f6;
  color: #555;
  font-family: 'Inconsolata', monospace;
  overflow-y: scroll;
  border-radius: 0.2rem;
  border: 1px solid #212529;
}

#cy {
  width: 100%;
  height: 100%;
  display: block;
}

#spa {
  width: 100%;
  height: 100%;
  display: block;
  overflow-y: scroll;
  padding: 0%;
}

.list-group-flush {
  margin: 0%;
  padding: 0%;
}

.bordered {
  border-radius: 0.2rem;
  border: 1px solid #212529;
}

.half-row {
  height: 50%;
}

.half-row > * {
  height: 100%;
}

.code-container {
  height: 100%;
  overflow-y: scroll !important;
  padding: 0%;
  scroll-behavior: smooth;
}

pre[class*="language-"] {
  padding: 0%;
  margin: 0%;
}

.btn:hover {
  background-color: #495057 !important;
}

.hljs-ln-numbers {
  padding-left: 2% !important;
}

.hljs-ln-code {
  padding-left: 8% !important;
}

a {
  color: #343a40;
}

select {
  background-color: #f6f6f6;
}

.pad-me {
  padding: 1%;
}

.shrink-text {
  font-size: 12px;
}

.extra-margin {
  margin: 3%;
}

.quite-margin {
  margin: 80%;
}

.omph {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 500;
  line-height: 1.2;
}
