version: 2.1
orbs:
  jq: "circleci/jq@2.2.0"
  shellcheck: "circleci/shellcheck@2.2.0"
  slack: "circleci/slack@4.3.3"
  aws-cli: "circleci/aws-cli@3.1.3"

executors:
  fake:
    parameters:
      class:
        description: "resource class"
        default: "small"
        type: string
    docker:
    - image: "cimg/base:stable"
      auth:
        username: $DOCKER_LOGIN
        password: $DOCKER_PASSWORD
    resource_class: <<parameters.class>>
    environment:
      LC_ALL: "en_US.UTF-8"
  real:
    machine:
      image: "ubuntu-2004:202107-02"
    resource_class: "medium"
    environment:
      LC_ALL: "en_US.UTF-8"
      PATH: "/home/circleci/.local/bin:/usr/local/bin:/usr/bin:/bin:/sbin"

commands:
  workattach:
    steps:
      - attach_workspace:
          at: /tmp/workspace
  checkout_closed:
    description: "Maybe checkout closed repository"
    steps:
      - run: |
          ./.circleci/maybe-closed.sh "${CIRCLE_JOB}"
  slack_fail:
    steps:
      - slack/notify:
          # NOTE: We used to do
          # branch_pattern: "master,gh-pages"
          # But, I am disabling it on purpose
          event: fail
          custom: |
            { "blocks": [
                { "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*FAIL* ${CIRCLE_USERNAME}/<https://github.com/reach-sh/reach-lang/tree/${CIRCLE_BRANCH}|${CIRCLE_BRANCH}>${CIRCLE_PULL_REQUEST:+/<$CIRCLE_PULL_REQUEST|PR>} > ${CIRCLE_JOB} <${CIRCLE_BUILD_URL}|more...>" }}]}
  srd_yes:
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
          version: '20.10.6'
  srd_no:
    steps:
      - setup_remote_docker:
          docker_layer_caching: false
          version: '20.10.6'
  and_restore_docker:
    description: "Restore the build Docker images"
    parameters:
      deps:
        description: "which images"
        type: string
    steps:
      - aws-cli/setup
      - run: |
          export REGISTRYC="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_DEFAULT_REGION}.amazonaws.com"
          aws ecr get-login-password | docker login --username AWS --password-stdin "${REGISTRYC}"
          "./scripts/image-cache-pull.sh" << parameters.deps >>
jobs:
  "do-release":
    executor: fake
    steps:
    - checkout
    - srd_yes
    - attach_workspace:
        at: /tmp/workspace
    - and_restore_docker:
        deps: "runner react-runner rpc-server reach reach-cli devnet-eth devnet-cfx devnet-algo"
    # Publish images
    - run: |
        # Log into the real DockerHub account to publish to the world
        docker login -u $DOCKER_LOGIN -p $DOCKER_PASSWORD
        for IMAGE in runner react-runner rpc-server reach reach-cli devnet-algo devnet-eth devnet-cfx; do
          ./scripts/docker-push.sh "reachsh/${IMAGE}"
        done
    # Publish stdlib
    - run: |
        sudo apt update -y
        sudo apt install npm -y
        cd js/stdlib
        make refresh-js-stdlib
        make bump-version-and-publish-js-stdlib
    # Make the announcement
    - run: |
        set -a; source ./VERSION
        export GIT_COMMIT_HASH=$CIRCLE_SHA1
        sudo apt update -y; sudo apt install python3 python3-pip -y
        pip3 install requests
        cd scripts
        python3 announcer.py
  "docs-render":
    executor: fake
    steps:
    - checkout
    # We don't mind not caching, because it doesn't take that long and we don't
    # want to steal a volume from the main build
    - srd_no
    - run: |
        (cd docs && make build)
        mkdir -p /tmp/workspace/search
        cp -fr docs/build /tmp/workspace/docs
        cp -f docs/search/index.json /tmp/workspace/search
    - persist_to_workspace:
        root: /tmp/workspace/
        paths:
          - docs
          - search
    - slack_fail
  "docs-deploy":
    executor: fake
    steps:
    - checkout
    - workattach
    - srd_no
    - run: |
        cp /tmp/workspace/search/* ./docs/search/
        (cd docs && make update-search)
    - add_ssh_keys:
        fingerprints:
        - "83:23:9c:21:6a:74:61:48:20:da:a3:45:79:89:3e:86"
    - run: |
        git config user.email "devbot@reach.sh"
        git config user.name "reachdevbot"
        git fetch origin gh-pages
        git checkout gh-pages
        git pull origin gh-pages
        git rm -r .
        cp -r /tmp/workspace/docs/* .
        [ -f index.html ] || exit 1
        touch .nojekyll
        git add .
        # https://stackoverflow.com/questions/8123674/how-to-git-commit-nothing-without-an-error
        git diff-index --quiet HEAD || (git commit -m "[ci skip] docs for ${CIRCLE_SHA1}" && touch .did_change)
        git push origin gh-pages
    - slack_fail
    - run: |
        if [ -f .did_change ]; then
          git diff --exit-code HEAD~ changelog/index.md
        fi
    - slack/notify:
        event: fail
        channel: 'CMY2TF38D' # general
        # (CMY3E5B3J = reach-lang)
        custom: |
          {
            "blocks": [{
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "<https://docs.reach.sh/changelog/|Changelog> has changed!"
              }
            }]
          }
  "sh-check":
    executor: fake
    steps:
    - checkout
    - shellcheck/install
    - run: |
        make sh-lint
    - slack_fail
  "hs-test":
    parameters:
      mode:
        description: "whether open or closed"
        type: string
      deps:
        description: "docker dependencies"
        type: string
    executor: real
    steps:
    - checkout
    - checkout_closed
    - workattach
    - and_restore_docker:
        deps: <<parameters.deps>>
    - run:
        command: |
          ./.circleci/hs-test.sh "<<parameters.mode>>"
        no_output_timeout: 60m
    - store_test_results:
        path: "hs/test-reports"
    - persist_to_workspace:
        root: /tmp/workspace
        paths:
          - hs-test-<<parameters.mode>>.xml
          - hs-test-<<parameters.mode>>-url
    - slack_fail
  "build-image":
    parameters:
      image:
        description: "which image"
        type: string
      exec:
        description: "which executor"
        type: string
      deps:
        description: "docker dependencies"
        type: string
    executor: <<parameters.exec>>
    steps:
    - checkout
    - checkout_closed
    - when:
        condition:
          equal: [ fake, << parameters.exec >> ]
        steps:
          - srd_no
    - workattach
    - and_restore_docker:
        deps: <<parameters.deps>>
    - run: |
        ROOT=$(pwd)
        export REGISTRYC="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_DEFAULT_REGION}.amazonaws.com"
        # Build the image
        IMAGE="<<parameters.image>>"
        cd .circleci && ./image.sh "${IMAGE}"
        # Save it into cache
        "${ROOT}/scripts/cache-image.sh" "${IMAGE}"
    - slack_fail
  "examples":
    parameters:
      connector:
        description: "which connector"
        type: string
      size:
        description: "parallel size"
        type: integer
      deps:
        description: "docker dependencies"
        type: string
    executor: real
    parallelism: <<parameters.size>>
    steps:
    - checkout
    - workattach
    - and_restore_docker:
        deps: <<parameters.deps>>
    - run:
        name: Run examples
        command: |
          cd .circleci 
          ./run-examples.py <<parameters.connector>>
        no_output_timeout: 30m
    - store_artifacts:
        path: /tmp/artifacts
    - store_artifacts:
        path: /tmp/test_results
    - store_test_results:
        path: /tmp/test_results
    - run: 
        name: Store artifacts url
        command: |
          CIRCLE_ARTIFACTS_URL=$(curl -X GET "https://circleci.com/api/v2/project/github/reach-sh/reach-lang/${CIRCLE_BUILD_NUM}/artifacts" \
            -H "Accept: application/json" \
            -u "${CIRCLE_API_TOKEN}:")
          echo "${CIRCLE_ARTIFACTS_URL}" > /tmp/workspace/artifacts/<<parameters.connector>>."${CIRCLE_NODE_INDEX}"
    - persist_to_workspace:
        root: /tmp/workspace
        paths:
          - artifacts
          - record
    # This should only notify if something goes fatally wrong.
    # Regular test failures go through to the sink.
    - slack/notify:
        event: fail
        custom: |
          { "blocks": [
              { "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": "*CATASTROPHIC* ${CIRCLE_USERNAME}/<https://github.com/reach-sh/reach-lang/tree/${CIRCLE_BRANCH}|${CIRCLE_BRANCH}>${CIRCLE_PULL_REQUEST:+/<$CIRCLE_PULL_REQUEST|PR>} > examples.<<parameters.connector>> <${CIRCLE_BUILD_URL}|more...>" }}]}
  "build-sink":
    executor: fake
    steps:
    - checkout
    - workattach
    - run: |
        ./.circleci/record.py >> $BASH_ENV
    - run:
        when: always
        command: |
          echo "${RECORD_MESSAGE}"
    - slack/notify:
        event: always
        # NOTE: We used to do
        # branch_pattern: "master,gh-pages"
        # But, I am disabling it on purpose
        custom: |
          { "blocks": [
              { "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": "${RECORD_MESSAGE}" }}]}
  "browser-tests":
    executor: real
    parameters:
      connector:
        description: "which connector"
        type: string
      deps:
        description: "docker dependencies"
        type: string
    steps:
    - checkout
    - workattach
    - and_restore_docker:
        deps: <<parameters.deps>>
    - run: |
        cd examples/rps-9-web/
        patch index.js cypress.patch
    - run: |
        (cd examples/rps-9-web && REACH_CONNECTOR_MODE=<<parameters.connector>> ../../reach react) &
        (cd js/browser-tests && make build)
        # give the react server time to start up
        timeout 60 bash -c 'until echo > /dev/tcp/localhost/3000; do sleep 1; done'

        # XXX this is weird. Working around issue:
        # "_XSERVTransMakeAllCOTSServerListeners: server already running"
        # https://github.com/cypress-io/cypress/issues/5110#issuecomment-431683691
        ps -ef | grep Xvfb | grep -v grep | awk '{print $2}' | sudo xargs kill -9

        (cd js/browser-tests && make run)
    - store_artifacts:
        path: js/browser-tests/cypress/videos
    - store_artifacts:
        path: js/browser-tests/cypress/screenshots
    - slack_fail

workflows:
  docs:
    jobs:
    - "docs-render"
    - "docs-deploy":
       filters:
         branches:
           only: master
       requires:
       - "docs-render"
  build:
    jobs:
    - "sh-check"
    # - "approve-release":
    #     type: approval
    #     requires:
    #       - "build-sink"
    #     filters:
    #       branches:
    #         only: master
    # - "do-release":
    #    requires:
    #      - "approve-release"
    #    context:
    #      - reachdevbot-on-dockerhub
    # Sink and examples follow
