body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input[type=number] {
  font-size: calc(10px + 2vmin);
  width: 4em;
}

button {
  font-size: calc(10px + 2vmin);
}

textarea {
  font-size: calc(10px + 2vmin);
}

.ContractInfo {
  font-size: calc(10px + 1vmin);
  text-align: left;
  width: 90vw;
  height: 7em;
  padding: 2vw;
  overflow-x: scroll;
  white-space: pre;
}
