/************************************************
 vertical
************************************************/

html, body {height: 100%;}
/* body {--bs-bg-opacity: 1; background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));} */
#book-col, #page-col, #otp-col { height: 100%; overflow-x: hidden; overflow-y: auto;}
main {height: calc(100% - 56px);}

#page-col div#hh-viewer h1 {margin-top: 24px; margin-bottom: 16px;}
#page-col div#hh-viewer h2 {margin-top: 20px; margin-bottom: 16px;}
#page-col div#hh-viewer p,
#page-col div#hh-viewer h3,
#page-col div#hh-viewer h4,
#page-col div#hh-viewer h6,
#page-col div#hh-viewer table {margin-top: 16px; margin-bottom: 16px;}

#page-col div#hh-viewer div[class^="col-"] img {margin: 0 !important;}

/************************************************
 responsive
************************************************/

/* $grid-breakpoints: (  xs: 0,  sm: 576px,  md: 768px,  lg: 992px,  xl: 1200px,  xxl: 1400px); */

#book-col.display {display:none;}
#page-col.display {display:block;}
#otp-col.display {display:none;}

@media (min-width: 768px) {
  #book-col {max-width: 280px; min-width: 280px;}
  #otp-col {max-width: 280px; min-width: 280px;}
  #book-col.display {display: block;}
  #page-col div.show-book-col {display: none;}
}

@media (min-width: 1200px) {
  #page-col button.show-otp-col {display: none;}
  #otp-col.display {display: block;}
}

/************************************************
 color constants
************************************************/

@media (prefers-color-scheme: light) {
  :root {
    --body-color: var(--bs-body-color);
    --soft0: #d9d9d9;
    --soft1: #e6e6e6;
    --soft2: #f2f2f2;
    --soft3: #f4f4f4;
    --soft4: #f7f7f7;
    --soft5: #f9f9f9;
    --soft6: #f8f8f8;
    --soft7: azure;
    --snippet: #f6f8fa;
    --snippet-border: #c5d2df;
    --button-border: rgba(0, 0, 0, 0.1);
    --button-color: #6c757d;
    --header-nav-hover: white;
    --nav-bar-fg: white;
    --light-mode-white: white;
    --light-mode-black: black;
    --otp-col-background: #1a1c23;
    --otp-col-list-a: #404040;
    --link-no-hover: steelblue;
    --link-hover: #2b506e;
    --img-hh-shadow: #cccccc;
    --punch-span: #F45747;
    --page-col-p-q-and-a: steelblue;
    --blockquote-background: #fff6e6;
    --blockquote-border-left: orange;
    --page-col-div-hh-viewer-table: #ddd;
    --page-col-div-card: #cce7ff;
    --page-col-div-card-small: #00294d;
    --page-col-div-card-focus: #7ec2ff;
    --angellist-jobs-tags: #333333;
    --social-icons: #595959;
    --div-note-bg: #F5F5DC;
    --div-q-and-a-bg: #F5DCDC;
    --page-col-a-pid: #C8A8FF;
    --reach-red: #F45747;
    --reach-red-hover: #B62B1B;

    --shiki-color-text: #24292E;
    --shiki-color-background: var(--snippet);
    --shiki-token-constant: #005CC5;
    --shiki-token-string: #770000;
    --shiki-token-comment: #6A737D;
    --shiki-token-keyword: #D73A49;
    --shiki-token-parameter: #AA5000;
    --shiki-token-function: #6F42C1;
    --shiki-token-string-expression: #032F62;
    --shiki-token-punctuation: #24292E;
    --shiki-token-link: #EE0000;
  }
}
@media (prefers-color-scheme: dark) {
  :root{
    --body-color: #d0d0d0;
    --soft0: #292929;
    --soft1: #161616;
    --soft2: #020202;
    --soft3: #040404;
    --soft4: #070707;
    --soft5: #090909;
    --soft6: #080808;
    --soft7: azure;
    --snippet: #0f0f0f;
    --snippet-border: #515151;
    --button-border: rgba(0, 0, 0, 0.1);
    --button-color: #6c757d;
    --header-nav-hover: black;
    --nav-bar-fg: white;
    --light-mode-white: black;
    --light-mode-black: white;
    --otp-col-background: #999999;
    --otp-col-list-a: #909090;
    --link-no-hover: steelblue;
    --link-hover: #2b506e;
    --img-hh-shadow: #cccccc;
    --punch-span: #F45747;
    --page-col-p-q-and-a: steelblue;
    --blockquote-background: #fff6e6;
    --blockquote-border-left: orange;
    --page-col-div-hh-viewer-table: #ddd;
    --page-col-div-card: #cce7ff;
    --page-col-div-card-small: #00294d;
    --page-col-div-card-focus: #7ec2ff;
    --angellist-jobs-tags: #333333;
    --social-icons: #595959;
    --div-note-bg: #201500;
    --div-q-and-a-bg: #210700;
    --page-col-a-pid: #38287F;
    --reach-red: #F45747;
    --reach-red-hover: #B62B1B;

    --shiki-color-text: #d0d0d0;
    --shiki-color-background: var(--snippet);
    --shiki-token-constant: #508Cc5;
    --shiki-token-string: #770000;
    --shiki-token-comment: #6A737D;
    --shiki-token-keyword: #D73A49;
    --shiki-token-parameter: #AA5000;
    --shiki-token-function: #8F62c1;
    --shiki-token-string-expression: #23b0b2;
    --shiki-token-punctuation: #b0b0b0;
    --shiki-token-link: #EE0000;
  }
}

body {
  color: var(--body-color);
  background: var(--light-mode-white);
}


/************************************************
 colors
************************************************/
/*
body {background-color: white;}
#book-col {background: white;}
#page-col {background: white;}
#otp-col {background: white;}
*/
em {color:var(--body-color); font-weight:normal;}

/************************************************
 body buttons
************************************************/

button,
a[role="button"]:not(.step) {
  border-color: var(--button-border) !important;
  color: var(--button-color);
  padding: 0.25rem 0.5rem;
}

/************************************************
 header .navbar-dark .navbar-nav .nav-link
************************************************/

header a.navbar-brand span,
header div.navbar-nav a span, 
header div.navbar-nav a:hover span, 
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover,
.nav-link-a,
.nav-link-a:hover {
  color: var(--nav-bar-fg);
}

header div.navbar-nav a.active span {
  border-bottom: 2px solid var(--light-mode-white);
  color: var(--light-mode-white);
}

.nav-link-a {
  padding-left: .3rem;
  padding-right: .3rem;
}

/************************************************
 main
************************************************/
/*
main {padding-left: 12px; padding-right: 12px;}
*/
i.fa-angle-right {width:10px;}

#book-col, #otp-col {padding: 16px 12px;}
#page-col {padding: 16px 24px;}

#book-col a.book-title,
#book-col a.chapter-title {
  color: inherit;
  text-decoration: inherit;
  border-radius: 4px;
  padding: 3px 4px;
}

#book-col a.book-title{
  margin: 1px 0px 1px 0px;
}

#book-col div.bookCrumbs {
  margin-bottom: 1em;
}

#book-col a.chapter-title {
  margin: 1px 0px;
}

#book-col div.chapter-icon-col {
  padding-top: 3px;
  padding-right: 8px;
}

#book-col div.chapter-empty-col {
  width:30px;
}

#book-col a.book-title {
  font-weight: bold;
}

#book-col a.book-title:hover,
#book-col a.chapter-title:hover,
#otp-col i:hover {
  cursor: pointer;
}

#book-col a.chapter-title:hover,
#otp-col ul li a:hover {
  background: var(--soft2); /* 6AC6E7 */
  /*color: white;*/
}

#book-col a.chapter-title.active,
#otp-col ul li:not(.top) a.active {background: var(--otp-col-background); color: var(--light-mode-white);} /* 28ADDC */

/*i.fas {color: #bfbfbf;}*/
i.fas:hover {cursor: pointer;}

#book-col div.chapter-icon-col i.clear {
  color: var(--light-mode-white);
}

#book-col div.col {
  padding-left: 0;
}

#book-col a.chapter-title,
#otp-col li a {
  font-size: 94%;
}

#book-col {
  /*box-shadow: inset -1px 0 3px -2px black;*/
  border-right: 1px solid var(--soft1);
}

#page-col {
  scroll-padding-top: 20px;
}

#otp-col {
  /*box-shadow: inset 1px 0 3px -2px black;*/
  border-left: 1px solid var(--soft1);
}

#page-col div#hh-page-header {
  border-bottom: 3px double var(--soft1);
  padding-bottom: 16px;
}

#page-col div#hh-viewer-wrapper {
  max-width: 1200px;
}

#page-col div#hh-viewer-wrapper span.title {
  font-weight: normal;
  font-size: 22px;
}

#page-col div#hh-viewer-wrapper div.metadata {
  font-size: 92%;
}

#page-col div#hh-viewer-wrapper div#hh-page-header {
  margin-bottom: 16px;
}

#page-col div#hh-viewer-wrapper div#hh-versions {
  margin-bottom: 16px;
}

#page-col div#hh-viewer h1 {
  font-weight: normal;
  font-size: 22px;
}

#page-col div#hh-viewer h1:after {
  content: ' ';
  display: block;
  border-top: 1px solid var(--soft1);
  margin-top: 3px;
}

#page-col div#hh-viewer h2 {
  color: var(--light-mode-black);
  font-weight: bold;
  font-size: 18px;
}

#page-col div#hh-viewer h3 {
  font-weight: bold;
  font-style: normal;
  text-decoration: normal;
  font-size: 16px;
}

#page-col div#hh-viewer h4 {
  font-weight: bold;
  font-size: 15px;
}

#page-col div#hh-viewer h6 {
  font-weight: bold;
  font-size: 15px;
}

#page-col a:not(.btn) {color: var(--link-no-hover); text-decoration: none;}
#page-col a:hover:not(.btn) {color: var(--link-hover); text-decoration: none;}
#page-col a:hover.ui-tooltip {color: var(--reach-red-hover);}
#page-col a.ui-tooltip {color: var(--reach-red);}
#page-col a.ui-tooltip::after {content: " \1F6C8";}

#page-col div#hh-viewer ul:not(.nav) {list-style-type: square;}

#page-col img.hh-shadow {box-shadow: 0px 3px 5px var(--img-hh-shadow);}
#page-col img.hh-halign-indent {margin-left:18px;margin-right:auto;}
#page-col img.hh-halign-center {margin-left:auto;margin-right:auto;}
#page-col img.hh-halign-right {margin-left:auto;margin-right:0;}

.noscroll::-webkit-scrollbar { display: none; }
.noscroll { -ms-overflow-style: none; scrollbar-width: none; }

p.punch span {color:var(--punch-span);}

#page-col div#hh-viewer-wrapper span.author,
#page-col div#hh-viewer-wrapper span.published-date {
  font-size:92%;
}

#page-col p.q-and-a {
  color: var(--page-col-p-q-and-a);
  cursor: pointer;
}


/************************************************
 blockquote
************************************************/

#page-col div#hh-viewer blockquote {
  background: var(--blockquote-background);
  border-left: 5px solid var(--blockquote-border-left);
  margin: 20px 0;
  padding: 3px 12px;
}

#page-col div#hh-viewer blockquote h1,
#page-col div#hh-viewer blockquote h2,
#page-col div#hh-viewer blockquote h3,
#page-col div#hh-viewer blockquote h4,
#page-col div#hh-viewer blockquote h5,
#page-col div#hh-viewer blockquote h6 {
  margin-top: 16px; 
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 16px;
}

#page-col div#hh-viewer blockquote h1:after {
  content: ' ';
  display: none;
}

/************************************************
 iframe
************************************************/

iframe.gray-scale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

/************************************************
 table
************************************************/

#page-col div#hh-viewer table {
  border-collapse: collapse;
}

#page-col div#hh-viewer td,
#page-col div#hh-viewer th {
  border: 1px solid var(--page-col-div-hh-viewer-table);
  line-height: var(--bs-body-line-height);
  /*line-height: normal;*/
  padding: 0.5rem;
  /*text-align: left;*/
  vertical-align: top;
}

#page-col div#hh-viewer td:first-child {white-space: nowrap;}

/************************************************
 Snippet
************************************************/

#page-col pre.snippet div.codeHeader {
  background-color: var(--snippet);
  border-bottom: 1px solid var(--snippet-border);
}

#page-col pre.snippet div.codeHeader a.copyBtn {
  float: right;
  margin-right: 0.2em;
  margin-top: 0.2em;
}

#page-col div#hh-viewer ol.snippet{
  background-color: var(--snippet); /* github-light modified*/
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  margin-bottom: 0;
}

#page-col div#hh-viewer pre:not(.snippet) {
  background-color: var(--soft6);
  padding: .5rem .5rem;
  overflow-x: none;
  overflow-x: auto; /* ??? */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

#page-col div#hh-viewer ol.snippet::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

#page-col div#hh-viewer ol.snippet li:first-child {
  padding-top: 3px;
}

#page-col div#hh-viewer ol.snippet li {
  background-color: var(--snippet); /* github-light modified*/
  font-family: var(--bs-font-monospace);
  color: var(--body-color);
  font-size: 95%;
  padding: 1px 12px;
  white-space: pre;
}

#page-col div#hh-viewer pre:not(.snippet) code {
  font-family: var(--bs-font-monospace);
  font-size: 90%;
}

#page-col div#hh-viewer ol.snippet li:first-child {
  padding-top: 6px;
}

#page-col div#hh-viewer ol.snippet li:last-child {
  padding-bottom: 6px;
}

#page-col div#hh-viewer pre.numbered ol.snippet li::marker {
  color: var(--body-color);
  content: attr(value) " ";
}

#page-col div#hh-viewer pre.numbered ol {
  padding-left: 3.0rem;
}

#page-col div#hh-viewer pre.numbered ol li {
  border-left: 1px solid var(--snippet-border);
}

#page-col div#hh-viewer pre.unnumbered ol {
  list-style-type: none;
  padding-left: 0;
}

#page-col div#hh-viewer pre.unnumbered ol li {
  border-left: none;
}

#page-col code, #page-col span.snip {
  /* color: #806600; */
  font-size: 13px;
  padding: 2px 2px;
  white-space: pre;
  background-color: var(--snippet); /* github-light modified*/
  font-family: var(--bs-font-monospace);
  color: var(--body-color);
}

/************************************************
 otp-col
************************************************/

#otp-col ul {
  list-style: none;
  padding-left: 0;
}

#otp-col ul li {
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 1.3em;
}

#otp-col ul li ul {
  padding-left: 9px;
}

#otp-col ul li a {
  color: var(--otp-col-list-a); 
  font-size: 90%;
  display: block;
  padding: 1px 0 1px 4px;
  border-radius: 2px;
  text-decoration: none;
}

#otp-col ul li a {font-weight: normal;}
#otp-col > ul > li > a {font-weight: normal;}

#reach-slides button.carousel-control-prev, #reach-slides button.carousel-control-next {
  align-items:flex-start; 
  padding: 1.3% 18px;
}

#reach-slides button.carousel-control-prev {
  justify-content:flex-start;
}

#reach-slides button.carousel-control-next {
  justify-content:flex-end;
}

/*
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    background-color: orange;
    border-color: orange;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #996300;
    border-color: #996300;
}
*/

/************************************************
 Module Cards
************************************************/

#page-col div.card {background: var(--page-col-div-card); border: 1px solid var(--page-col-div-card);}

#page-col div.card a,
#page-col div.card a:active,
#page-col div.card a:visited,
#page-col div.card a:hover,
#page-col div.card a:focus {
  color: var(--body-color);
}

#page-col div.card small {color: var(--page-col-div-card-small);}

#page-col div.card:hover,
#page-col div.card:focus {
  box-shadow: 0 0 4px var(--page-col-div-card-focus);
  -moz-box-shadow: 0 0 4px var(--page-col-div-card-focus);
  -webkit-box-shadow: 0 0 4px var(--page-col-div-card-focus);
  -o-box-shadow: 0 0 4px var(--page-col-div-card-focus);
}

/************************************************
 banish
************************************************/

.banish {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/************************************************
 AngelList
************************************************/

.angellist_jobs-tags {color: var(--angellist-jobs-tags) !important;}

.angellist_jobs-title-link,
.angellist_jobs-title-link:hover,
.angellist_jobs-title-link:visited,
.angellist_jobs-title-link:active {font-weight: bold !important; }

div.social-icons a i {color:var(social-icons);}

/* Notes */

div.note {
  background: var(--div-note-bg);
  margin-left: 2em;
  padding: 0em 0.5em;
}

div.q-and-a {
  background: var(--div-q-and-a-bg);
  margin-left: 2em;
  padding: 0em 0.5em;
  cursor: pointer;
}

a span.icon-link {
  display: none;
}

.refHeader:hover > a span.icon-link {
  display: inline-block;
}

a span.icon-link:after {
  content:"#";
  margin-left: 0.2em;
}

img {
  max-width: 100%;
}

#otp-col a.otp-link {
  font-weight: bold;
}

#page-col a.pid {
  font-weight: bold;
  font-size: x-small;
  font-style: italic;
  color: var(--page-col-a-pid);
  vertical-align: middle;
  margin-left: 0.5em;
  text-transform: uppercase;
}

#search-results-list li a.pt {
  margin-right: 1em;
}
#search-results-list li.sdRef {
}
#search-results-list li.sdRef span.symbol {
  font-family: monospace;
}
#search-results-list li.sdRef span.scope {
  margin-left: 1em;
  font-family: monospace;
}
#search-results-list li.sdRef span.scope::before {
  content: "("
}
#search-results-list li.sdRef span.scope::after {
  content: ")"
}

#search-results-list li.sdTerm {
}
#search-results-list li.sdTerm span.term {
  font-style: italic;
}
#search-results-list li.sdHeader {
}
#search-results-list li.sdHeader span.h {
  font-weight: bold;
}
#search-results-list li.sdPara {
}
#search-results-list li.sdPara span.p {
}
